<div id='fusen-box'>
  <div id="dialog" style="display: none;">
    <span id="message_title">本文：</span><br/>
    <textarea id="message" cols="40" rows="7"></textarea>
  </div>
</div>
<div id="create-area">
  <p id="create" title="新しい付箋紙を作成">+</p>
</div>